<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DigicertAPIKey" value="" />
		<add key="DigicertAPIKeyTopPerm" value="" />
		<add key="KeyfactorDomainAndUser" value="" />
		<add key="KeyfactorPassword" value="" />
		<add key="KeyfactorCertSearchReturnLimit" value="" />
		<add key="KeyfactorAPIEndpoint" value="" />
		<add key="KeyfactorDigicertIssuedCertQueryTerm" value="DigiCert" />
		<add key="ImportAllCustomDigicertFields" value="False" />
		<add key="ReplaceDigicertWhiteSpaceCharacterInName" value="_-_" />
		<add key="ImportDataForDeactivatedDigiCertFields" value="False" />
	</appSettings>
</configuration>