<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DigicertAPIKey" value="" />
		<add key="KeyfactorDomainAndUser" value="" />
		<add key="KeyfactorPassword" value="" />
		<add key="KeyfactorCertSearchReturnLimit" value="5000" /> 
		<add key="KeyfactorAPIEndpoint" value="https://***.com/keyfactorapi/" />
		<add key="KeyfactorDigicertIssuedCertQueryTerm" value="DigiCert" />
		<add key="ImportAllCustomDigicertFields" value="False" />
		<add key="ReplaceDigicertWhiteSpaceCharacterInName" value="_-_" />
	</appSettings>
</configuration>
