<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.log">
	<!-- define a variable for the minimum log level -->
	<variable name="minLogLevel" value="Debug" />
	<!-- define various log targets -->
	<targets>
		<!-- write logs to file in the current directory -->
		<target xsi:type="File" name="DebugConf" fileName="${basedir}/logs/MetadataSync-Debug-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception}" />
		<target xsi:type="File" name="AllLogs" fileName="${basedir}/logs/MetadataSync-AllLogs-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="DebugConf" />
		<logger name="*" minlevel="${var:minLogLevel}" writeTo="AllLogs" />

	</rules>
</nlog>